.big__avatar {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 30px;
}

.big__avatar img {
  width: 70px;
  border-radius: 35%;
  margin-right: 15px;
}

.middle__avatar {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 30px;
}

.middle__avatar img {
  width: 60px;
  border-radius: 35%;
  margin-right: 15px;
}

.small__avatar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.small__avatar img {
  width: 58px;
  height: 60px;
  border-radius: 35%;
  margin-right: 15px;
}

.profile__text {
  display: flex;
  flex-direction: column;
}

.avatar__name {
  font-size: 20px;
  margin-bottom: 10px;
}

.avatar__bottom-text {
  opacity: 0.7;
}

.avatar__name-small {
  font-size: 18px;
  margin-bottom: 10px;
}

.avatar__bottom-text-small {
  opacity: 0.7;
}

.plus__friend {
  margin-bottom: 20px;
}

.sub__header {
  font-size: 18px;
  font-weight: 200;
  opacity: 0.8;
}

.friends {
  margin-bottom: 30px;
}

.friend__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music {
  display: flex;
  margin-bottom: 40px;
  border: 2px solid #52e084;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}
