.etc {
  display: flex;
  justify-content: space-between;
}

.more__right-column {
  display: flex;
  margin-bottom: 80px;
  margin-right: 10px;
  border: 2px solid #f0f0f0;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
}

.more__bank {
}
